[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Rnumerai"]
	path = Rnumerai
	url = https://github.com/omniacsdao/rnumerai
	shallow = true
	registered = true
